<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/cbd941066d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/styles.css">
    @RenderSection("styles", false)
    <title>Westcoast Cars @ViewData["Title"]</title>
</head>
<body>
    <nav id="navbar">
        <h1 class="logo"><span class="text-primary">Westcoast Education </span></h1>
        <ul>
            <li><a asp-page="/Index">Start</a></li>
            <li><a asp-page="/Gallery">Kurser</a></li>
            <li><a asp-page="/RegisterStudent">Registrera som elev</a></li>
            <li><a asp-page="/RegisterTeacher">Registrera som lärare</a></li>

        </ul>
    </nav>
    <main>
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>