@page
@model razorApp.Pages.Administration.Skill.CreateSkill
@{
    ViewData["Title"] = "CreateSkill";
}

<header>
    <h1 class="page-title">Lägg till ny skill</h1>
</header>
<section class="center">
    <h4>Skill information</h4>
    <section>        
        <form method="post">
            <div>
                <label asp-for="SkillModel.Name"></label>
                <input asp-for="SkillModel.Name">
            </div>
             <div class="button">
                <button type="submit" class="btn">Spara</button>
            </div>
        </form>
            <a asp-page="./SkillGallery"><i class="fa-solid fa-left-long"></i>Tillbaka till alla elever</a>

    </section>
</section>

